@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Roboto+Mono:wght@400;500&family=Roboto:wght@400;500&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-sans: 'Inter', 'Roboto', 'sans-serif';
  --font-mono: 'Roboto Mono', 'monospace';
}

body {
  @apply bg-dark-core text-gray-200 font-sans;
  margin: 0;
  padding: 0;
  overflow: hidden;
}